.controller.ds4.white {
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}


.ds4.white .trigger {
    width: 99px;
    height: 100%;
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/triggers.svg);
    opacity: 0;
}


.ds4.white .bumper {
    width: 99px;
    height: 23px;
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/bumper.svg) no-repeat;
    opacity: 0;
}

.ds4.white .back, .ds4.white .start {
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/start.svg);
    width: 28px;
    height: 46px;
    opacity: 0;
}

.ds4.white .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/base.svg);
}


.ds4.white .stick {
    position: absolute;
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/sticks.svg);
    height: 94px;
    width: 94px;
}


.ds4.white .face {
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/main/dpad.svg);
    position: absolute;
}
