.edit
.controller.ds4 {
    background: url(https://raw.githubusercontent.com/DarrohHuskers/testshit/53f2d804218c53557f76e654548928bdc95a1717/base.svg);
    height: 598px;
    width: 806px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}
